<nav class="navbar navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link"
       [class.active]="aba == 'home'"
       (click)="aba = 'home'">Home</a>

    <a class="nav-item nav-link"
       [class.active]="aba == 'Teste1'"
       (click)="aba = 'Teste1'">Teste 1</a>

    <a class="nav-item nav-link"
       [class.active]="aba == 'Teste2'"
       (click)="aba = 'Teste2'">Teste 2</a>

  </div>
</nav>

<div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'Teste1'" > Modo Teste 1</p>
    <p *ngSwitchCase="'Teste2'" > Modo Teste 2</p>
    <p *ngSwitchDefault> Modo Home Ativado</p>


</div>