<!-- <p FundoAmarelo>
  texto com fundo amarelo
</p>

<button FundoAmarelo> botão com fundo amarelo </button> -->

<p HighlightMouse>
  Texto com highlight quando passo o mouse...
</p>

<p [Highlight]="'red'" [defaultColor]="'green'">
  Texto com highlight com corres customizadas
</p>


<div [hidden]="mostrarCurso">
  TESTE 
</div>

<div [hidden]="!mostrarCurso">
  TESTE hiddensdfsdf
</div>