<p>Descrição:  {{ tarefa.desc }} </p>
<!--<p>Responsavel : {{ tarefa.responsavel.nome }}</p>-->
<p>Responsavel : {{ tarefa.responsavel != null ? tarefa.responsavel.nome : '' }}</p>


<p>Responsavel : {{ tarefa.responsavel?.nome }}</p>

