<div class="panel panel-default">
  <div class="panel-heading">
      <ng-content select=".titulo"> </ng-content>
  </div>
  <div class="panel-body">
      <ng-content select=".corpo"> </ng-content>
  </div>
</div>
