<p>
  Lista do curso {{ nomePortal }}
</p>

<app-curso-detalhe> </app-curso-detalhe>

<ul>
   <!-- Para nao precisar utilizar um FOR, é utilizado este processo -->
   <!-- *ngFor define que é um for, entao essa tag vai ser repetida conforme o tamanho do array
        = "let" let é o var
        curso = é a variavel que vai automaticamente receber os dados da posição
        of = é de quem 
        cursos = é o array la dentro do constructor do componente. -->
        
   <li *ngFor="let curso of cursos">
      {{ curso }}
   </li> 
</ul>