<H1>
  <i class="glyphicon"
     (click)="onteste()"     
     [class.glyphicon-star-empty]="!meuFavorito"
     [class.glyphicon-star]="meuFavorito"    
      >
  </i>
</H1>

<H1>
  <i class="glyphicon"
     (click)="onteste()"     

     [ngClass]="{
        'glyphicon-star-empty' : !meuFavorito,
        'glyphicon-star'       : meuFavorito    
     }">
  </i>
</H1>