<!-- <app-diretiva-ngif> </app-diretiva-ngif> -->
<!-- <app-diretiva-ng-switch> </app-diretiva-ng-switch> -->
<!-- <app-diretiva-ng-class> </app-diretiva-ng-class> -->
<!-- <app-diretiva-ng-style> </app-diretiva-ng-style> -->
<!-- <app-operador-elvis> </app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    <div class="titulo"> ESTE É O TITULO </div>  
    <div class="corpo">CONTEUDO PASSADO PARA O COMPONENTE</div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas> </app-diretivas-customizadas>