<!-- <app-data-binding> </app-data-binding> -->

<app-ciclo [valorIniciar]="valor" *ngIf="!deletarCiclo"> </app-ciclo>
<button class="btn btn-primary" (click)="mudarValor()"> Mudar Valor</button>
<button class="btn btn-danger" (click)="destruirCiclo()"> Deletar</button>