<div> 
   
   <button class="btn btn-primary" (click)="decrementa()">-</button> 
   <input type="text" readonly [value]="valor" #campoInput>
   <button class="btn btn-primary" (click)="incrementa()">+</button>   

</div>