<section class="property-binding"> 
   <!--<article>
      <h3>Interpolation / Interpolação</h3>  
      <p> String renderizada com interpolação: {{ url }} </p>
      <p> Resultado de 1 + 1 é : {{1 + 1}} </p>
      <p> chamada do metodo getValor : {{ getValor() }} </p>
      <p> Expreção logicas : {{ cursoAngular }} </p>
   </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
  </article> -->
  
 <!--
  <article>
    <h3>Class Style binding com CSS, utilizando o bootstrap</h3>
    
    <div>  
       Selecione uma classe:
        //#Classe o # criar uma variavel da classe
       <select #classe (change)="0"> 
          <option value="alert-success">Sucesso</option>  
          <option value="alert-danger">Atenção</option> 
          <option value="alert-warning">warning</option> 
          <option value="alert-info">Informacao</option> 
       </select>
    </div>

    <br><br>

    <div class="alert {{ classe.value }}" role="alert"> 
       texto Colorido conforme o valor da seleção acima.
    </div>

    <br><br>

    // O class.alert-success, vai adicionar a classe .alert-success quando o valor da minha variavel for alert-success 
    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success' ">
      ...
    </div>

    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger' ">
      ...
    </div>

    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning' ">
      ...
    </div>    

    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info' ">
      ...
    </div>

    // Processo de style binding... se o value for alert-danger entao(?) mostre 'block' se nao(:) mostre 'none' 
    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
       Esse texto so aparece em caso de erro...
    </div>
  </article>



  <article>
    <h3>Event binding</h3>
    <div> 
       // (click) foi adicionado o evento click, ao ser clicado é chamado a função botaoCliclado 
       <button class="btn btn-primary" (click)="botaoCliclado()">Botao que veio do bootstrap</button>

       <br><br>

       <input type="text" #CampoInput
          (keyup)="onKeyUp($event)"
          (keyup.enter)="salvarValor(CampoInput.value)"
       /> 
       <br>
       <p>Valor atual do texto {{valorAtual}} </p>
       <p>Valor Salvo é {{valorEnter}} </p>

       <span (mouseover)="onMouseOver()"
             (mouseout)="onMouseOver()"
             [class.highligth]="isMouseOver"
       > 
         Passe o mouse sobre mim
      </span>
      
    </div>
  </article> 

 
  <article>
    <h3>Two-way data binding</h3>
    <div> 
       <input type="text"
          [(ngModel)]="nome"
       />
       
       <p>Você digitou o nome: {{ nome }}</p>

       <div> 
          <input type="text" [(ngModel)]="pessoa.nome" />
          <input type="text" [(ngModel)]="pessoa.idade" />
          <p>Meu nome é: {{ pessoa.nome }} e possuo {{pessoa.idade}} anos!</p>
       </div>

    </div>
  </article>   

      -->

  <article>
      <h3>Reutilizando componentes. Input/Output Properties</h3>
      
      <app-curso [nome]="nomeDoCurso"> </app-curso>

      <contador [valor]="15"
                (mudouValor)="onMudouValor($event)"
      > </contador>

  </article>    

</section>