<h5>Styles com property binding </h5>
<button
    (click)="mudarAtivo()"   

    [style.backgroundColor]="ativo ? 'blue' : 'gray' "
    [style.color]="ativo ? 'write' : 'black' "
    [style.fontWeight]="ativo ? 'bold' : 'normal' "
    [style.fontSize]="tamanhoFonte + 'px' "
>
    Mudar Atributo 'ativo'    
</button>


<button
    (click)="mudarAtivo()"   

    [ngStyle]="{
         'backgroundColor': (ativo ? 'blue' : 'gray'), 
         'color'          : (ativo ? 'write' : 'black'),
         'fontWeight'     : (ativo ? 'bold' : 'normal'),
         'fontSize'       : (tamanhoFonte + 'px')
    }">
    Mudar Atributo 'ativo'    
</button>